*{
    margin: 0;
    padding: 0;
    

    }

 .container{
     background-color: #f2f2f2;
     padding: 15px;
     display: flex;
     flex-wrap: wrap;
     height: 1000px;
    /* align-content: flex-start;*/
     /*align-content: flex-end;*/
     /*align-content: center;*/
     /*align-content: space-between;*/
    /*flex-direction: column;*/
   /* justify-content: flex-start;*/
  /* justify-content: flex-end;*/
    /*justify-content: space-between;*/
     /* esit bosluk birakir   justify-content: space-evenly; */
     /*align-items: center;*/
 }   

 .item{
     background-color: chocolate;
     padding: 40px;
     margin: 30px;
     color: #fff;
     font-size: 25px;
     /*flex-grow: 1;*/

 }

 .i2{
    /* height: 200px;*/
     /*order: 5;*/
     /*flex-grow: 2;*/
     /*flex-basis: 15%;*/
 }

 .i4{
     /*align-self: flex-end;*/
     /*order: -1;*/
     /*flex-grow: 5;*/
 }
 .i3{
     /*align-self: flex-start;*/
     /*order: -2;*/
 }
 .i1{
     /*align-self: stretch;*/
     /*order: 6;*/
     /*flex: 1;*/
 } 

 .i8{
flex-grow: 1;
 }