#section-one{
    color: blue;
    background-color: aquamarine;
    width: 50%;
    height: 100px;
    overflow: scroll;
}

#section-two{
    color: brown;
    background-color: beige;
    width: 300px;
}